.body{
    display: grid;
    place-items: center;
    width: 100%;
    background-color:#E8E8E8;
  }
.container{
    display: grid;
    width: 93%;
    background-color: white;
    margin-top: 120px;
}